<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.mapper.UserMapper">

    <resultMap id="userResultMap" type="board.user.entity.User">
        <id property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="password" column="password" />
        <result property="nickname" column="nickname" />
        <!-- BaseEntity 필드 매핑 -->
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
        <result property="deletedAt" column="deleted_at" />
    </resultMap>

    <select id="findByUserId" resultMap="userResultMap">
        SELECT *
        FROM User U
        WHERE U.user_id = #{userId}
    </select>

    <select id="signUp" resultMap="userResultMap">
        INSERT INTO USER
        VALUES (USER_ID, PASSWORD, NICKNAME)
    </select>


</mapper>